
*{
    box-sizing: border-box;
}
body{
background-color:#a33d0b;
margin: 0px;

}
h1 , h3{
    color: #eeeeee;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*h2 {
    color: #f8f8f8;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
    */

.altinfo{
    color: #222831;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#firelogo{
    width: 50px;
}

.Vistula{
    color: #222831;
}

#Skills{
    padding-left: 17px;
}


td, th{
    color: #222831;
}
th{
    text-align: left;
}
li{
    color: #eeeeee;
}
p{
    color: #222831;
}
#briefinfo{
    color: #eeeeee;
}
.Vistula:hover , .Vistula:active{

color:#eeeeee;
border-radius: 4px;
text-decoration: none;
}

hr{
    width: 10%;
    border-style: dotted none none;
    border-color: #ff894c;
    border-width: 5px;
}
hr:hover{
    border-color: #ff894c;
}
.navbar-header{

    
    background-color:#f07556;
    
    
    
    
}

header{
    
    background-color: #222831;
    justify-content:center;
    width: 100%;

    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
   
    
 

}

#navbar{
    
    display: flex;
    
   
    
   
    border-radius: 24px;

 
}
#general{
text-align: center;    
display: flex;
    margin: 10 auto 0 auto;
    


}

#logo{
    }
ul{
    list-style-type: none;
}
#list{
    display: flex;
    justify-content:center;
    gap: 30px;
}
#logGL{
    justify-content: right;
    display: flex;
}
#BodyPart{
    margin-bottom: 60px;
}
.CenteredBar{
    text-decoration: none;

}
.CenteredBar:hover , .CenteredBar:focus {
    
    background-color:#f07556;
    border-radius: 4px;
   
}

.topdivs{

    color: #eeeeee;
    
}

.topbar-sec{
    background-image: url(../imgsource/Topbarsec.png);
margin-top: 20px;
height: 400px;
border-radius: 12px;
display: flex;
    align-items:center; 
        justify-content:center;
        

    }

#Alinurzada{
    color: #eeeeee;
    text-align: center;
    font-family: "Playwrite US Trad";
    font-size: 3.5em;
    
    
}
.altAlinurzada{
font-size: 0.35em;
font-family: 'Courier New', Courier, monospace;
}
.Information{
    border-radius: 12px;
    background-color: #f07556;
    color: white;
    height: 40px;
    width: 150px;
    border: 1px solid white;
}

.Information:hover , .Information:focus{
    
    color: #222831;
    backdrop-filter: blur;
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(227, 228, 237, 0.18);
}


.middlebar-sec{
    height: 250px;
    
    
    border: 2px solid #222831;
    border-radius: 12px;
    margin: 10px 70px 0px 70px;
}

.middlebar-sec h3{
    font-family: "Playwrite NG Modern";
    text-align: center;

}

.Social-Media{
    padding: 0 10px 10px 10px;
    
}

.Instagram{
    text-decoration: none;
}
.Instagram:hover , .Instagram:focus{
    
  
}

#InstaText{
    width: 75px;
    margin-top: 5px;
    margin-left: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#InstaText:hover , #InstaText:focus{
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(227, 228, 237, 0.18);
}


.Linkedin{
    text-decoration: none;
}
.Instagram:hover , .Instagram:focus{
    
  
}

#LinkeText{
    width: 65px;
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#LinkeText:hover , #LinkeText:focus{
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(227, 228, 237, 0.18);
}

.Social-Media{
    display: flex;
    gap: 30px;
}


.Whatsapp{
    text-decoration: none;
}
.Instagram:hover , .Instagram:focus{
    
  
}

#WhatText{
    width: 75px;
    margin-top: 5px;
    margin-left: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#WhatText:hover , #WhatText:focus{
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(227, 228, 237, 0.18);
}


.Github{
    text-decoration: none;
    
}
.Instagram:hover , .Instagram:focus{
    
  
}

#GitText{
    width: 50px;
    margin-top: 5px;
    margin-left: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#GitText:hover , #GitText:focus{
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(227, 228, 237, 0.18);
}

.Social{
    justify-content: center;
    display: flex;
    
}
